.card-slider {
    width:100vw;
    overflow: hidden;
}

.card-slider .content{
    width:var(--desktop-max-width);
    margin: auto;
    overflow: visible !important;
}

.card-slider .content .container{
    min-height:100px;
    gap:var(--s-size);
}

.card-slider div.bottom{
    justify-content: start;
    max-width:var(--desktop-max-width);
    margin:auto;
    padding-inline: var(--two-xs-size);
    margin-top:var(--xs-size);
}

.card-slider .arrow{
    position:relative;
}

.card-slider .arrow.left{
    left:var(--two-xs-size);
}

.card-slider .arrow.right{
    right:var(--two-xs-size);
}

/*———————————————————————NO PROJECTS———————————————————————————*/

.card-slider.nothing .content .container{
    width:100%;
    background-color:var(--dark-grey-color);
    border-radius:var(--xs-size);
}

.card-slider.nothing .content .container::before{
    content:"no projects";
    background-color:var(--white-color);
    height:fit-content;
    margin:var(--xs-size);
    padding:var(--three-xs-size);
    border-radius:var(--three-xs-size);
    color:var(--black-color);
    font-weight:600;
    font-size:var(--s-font-size);
}

.card-slider.nothing .arrow, .card-slider.nothing .dot{
    display:none;
}

/*———————————————————————RESPONSIVE———————————————————————————*/

@media(max-width:1200px){
    .card-slider .arrow{
        position:absolute;
    }

    .card-slider{
        padding-inline:var(--two-xs-size);
    }
}