.btn{
    display:grid;
    place-items: center;
    width:fit-content;
    border:none;
    padding:var(--s-size);
    border-radius:var(--xs-size);
    text-decoration: none;
    font-weight:bold;
    font-size:var(--m-font-size);
    transition:all 0.4s;

    background-color:var(--color);
}

.btn:hover{
    border-radius:var(--xl-size);
    background-color:var(--dark-color);
}

.btn div.content{
    width:100%;
    align-items: center;
    justify-content: center;
    display:flex;
    gap:var(--three-xs-size);
    padding:0 !important;
}

.btn::after{
    content:" ";
    display: block;
    width:4px;
    height:2px;
    margin:auto;
    border-radius:var(--xl-size);
    transition:all 0.2s;
    background-color: white;
}

.btn:hover::after{
    width:100%;
}

.btn svg{
    fill:white;
}

/*Grey*/
.grey{
    background-color:var(--grey-color);
}

.grey::after{
    background-color: var(--white-color);
}

.grey:hover{
    background-color:var(--white-color);
}

.grey:hover::after{
    background-color: var(--blue-color);
}

.grey:hover div{
    color:var(--blue-color)
}
/*--*/


/*——————————————————RESPONSIVE——————————————————————*/

@media(max-width:425px){
    .btn{
        padding:var(--xs-size);
    }
}